
analysis/.ipynb_checkpoints/SoHappy-Analysis-checkpoint.ipynb
data/new_format/Event0.fits
data/new_format/Event1.fits
data/new_format/Event2.fits
data/new_format/Event3.fits
data/new_format/Event4.fits
data/new_format/Event5.fits
data/new_format/Event6.fits
data/new_format/Event7.fits
data/new_format/Event8.fits
data/new_format/Event9.fits
docs/build/*
docs/api/*
*.fits
*.pyc
.spyproject/*
*.stats
timeslot.log
config.yaml
*.ipynb
analysis/prompt/.ipynb_checkpoints/{BE53AA19-9EB6-43A2-84A4-8028E3688282}.tmp
analysis/prompt/.ipynb_checkpoints/look_at_prompt-checkpoint.ipynb~RF14d8fe8.TMP
