
analysis/.ipynb_checkpoints/SoHappy-Analysis-checkpoint.ipynb
data/new_format/Event0.fits
data/new_format/Event1.fits
data/new_format/Event2.fits
data/new_format/Event3.fits
data/new_format/Event4.fits
data/new_format/Event5.fits
data/new_format/Event6.fits
data/new_format/Event7.fits
data/new_format/Event8.fits
data/new_format/Event9.fits
docs/build/*
docs/api/*
*.fits
*.pyc
.spyproject/*
*.stats
timeslot.log
analysis/.ipynb_checkpoints/Check_visibility-checkpoint.ipynb
analysis/.ipynb_checkpoints/Compare2Sets-checkpoint.ipynb
analysis/.ipynb_checkpoints/Dataset-TipsAndTricks-checkpoint.ipynb
analysis/.ipynb_checkpoints/DatasetAnalysis-2-checkpoint.ipynb
analysis/.ipynb_checkpoints/DatasetAnalysis-benchmark-checkpoint.ipynb
analysis/.ipynb_checkpoints/DatasetAnalysis-checkpoint.ipynb
analysis/.ipynb_checkpoints/DatasetStackingAnalysis-checkpoint.ipynb
analysis/.ipynb_checkpoints/look_at_prompt-checkpoint.ipynb
analysis/.ipynb_checkpoints/OpenAndStat-checkpoint.ipynb
analysis/.ipynb_checkpoints/Read-and-analyse-Datasets-checkpoint.ipynb
analysis/.ipynb_checkpoints/rvs_continuous-checkpoint.ipynb
analysis/.ipynb_checkpoints/setup-checkpoint.ipynb
analysis/.ipynb_checkpoints/Significance-checkpoint.ipynb
analysis/.ipynb_checkpoints/SingleSourceAnalysis-checkpoint.ipynb
analysis/.ipynb_checkpoints/Test-DatasetCumulation-checkpoint.ipynb
analysis/.ipynb_checkpoints/Test-DatasetStacking-checkpoint.ipynb
analysis/.ipynb_checkpoints/Test-JointFit-checkpoint.ipynb
analysis/.ipynb_checkpoints/Test-StackingWithModels-checkpoint.ipynb
analysis/.ipynb_checkpoints/TestJointFit-checkpoint.ipynb
analysis/.ipynb_checkpoints/Timing-checkpoint.ipynb
analysis/.ipynb_checkpoints/Untitled-checkpoint.ipynb
analysis/.spyproject/config/backups/codestyle.ini.bak
analysis/.spyproject/config/backups/encoding.ini.bak
analysis/.spyproject/config/backups/vcs.ini.bak
analysis/.spyproject/config/backups/workspace.ini.bak
analysis/.spyproject/config/codestyle.ini
analysis/.spyproject/config/defaults/defaults-codestyle-0.2.0.ini
analysis/.spyproject/config/defaults/defaults-encoding-0.2.0.ini
analysis/.spyproject/config/defaults/defaults-vcs-0.2.0.ini
analysis/.spyproject/config/defaults/defaults-workspace-0.2.0.ini
analysis/.spyproject/config/encoding.ini
analysis/.spyproject/config/vcs.ini
analysis/.spyproject/config/workspace.ini
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/TestAxisMystery-checkpoint.ipynb
